html {
  font-size: 1.125em; /* 18 / 16 = 1.125 */
  line-height: 1.444em; /* 26 / 18 = 1.222 */
  text-rendering: optimizeLegibility;
  font-family: Verdana, sans-serif;
}

body {
  background-color: #191E26;
  color: #C6C6C6;
  padding-top: 3.666em; /* 66 / 18 = 3.666 */
  padding-right: 1.222em; /* 22 / 18 = 1.222 */
  padding-left: 1.222em; /* 22 / 18 = 1.222 */
}

title {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 , p {
  padding-bottom: 0.5em; /* 9 / 18 */
}
h1 {
  font-size: 2.222em; /* 40 / 18 = 2.222222 */
  line-height: 1.25em; /* 30 / 24 */
  text-align: center;
}

h2 {
  font-size: 1.7em; /* 31.984 / 18 = 1.777 */
  line-height: 1.25em;/* 30 / 24 */
  text-align: center;
}

h3 {
  padding-top: 1em;
  font-size: 1.5em;/* 28 / 18 */
  line-height: 1em; /*30 / 18 */
}
h4 {
  font-weight: bold;
  font-size:1.3em;
}

ul {
  list-style-type: square;
  margin-left: 2em;
}

ol ul {
  padding-bottom: 0.611em; /* 11 / 18 = 0.611 */
}

ol {
  list-style-type: decimal;
}

li {
  padding-left: .5em;
  padding-bottom: 0.611em; /* 11 / 18 = 0.6111111 */

}
p  {
  text-align: center;
}

a, a:visited, a:hover, a:active {
  color: inherit;
}

a[href*="http"] {
  color: teal;
}

/* Responsive Media */
img {
  padding-top: 1.125em;
  display: block;
  max-width: 100%;
}
figcaption {
  padding-bottom: 0;
  text-align: center;
}

video {
  display: block;
  margin: 0 auto;
}

audio {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  padding-top: 1em;
}

div {
  float: left;
  margin-left: auto;
  text-align: justify;
  display: block;
  text-indent: 50px;
}
iframe {
  text-align: right;
  padding-top: 2.7em;
}

embed {
  display: block
  margin: 0 auto;
  text-align: center;
}

footer {
  padding-bottom: 20;
  padding-top: 30;
  text-align: center;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  overflow:hidden;
}

#introduction
{
  text-align: left;
}
#need
{
  padding-top: 5em;
}
